/* Boiler */

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background-color:#0A0C1C;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    opacity: 0.9;
    text-align: center;
}

/* Main Content */

main {
    background-color: #1B1937;
    border-radius: 0.5em;
    width: 90%;
    margin: 0 auto;
    padding: 1.25em;
}

h1 {
    margin: 0;
}

p {
    font-size: 1.2em;
}

button {
    font-size: 1.25em;
    padding: 0.5em;
    border: none;
    border-radius: 0.4em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

